<div class="modal fade" id="<%=modal_id%>" tabindex="-1" aria-labelledby="<%=modal_id%>Label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content text-muted">
      <div class="modal-header">
        <%= fa_icon "info-circle 2x" %>
        <h5 class="modal-title" id="<%=modal_id%>Label">Pay In Detail</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body mx-5">
        <%= render partial: 'payment', locals: {payment: pay_in.pay_in_payment, hide_action: true} %>
        <%= render partial: 'payment', locals: {payment: pay_in.assurance_payment, hide_action: true} %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
